{% extends 'base.html' %} 
{% load static %}
{% block title %}
    Django Project 
{% endblock title %}

{% block content %}

    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                
                <h4 class="modal-title w-100">Awesome!</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Your order has been recipt.</p>
            </div>
            <div class="modal-footer">
               <a class="btn hvr-hover" href="{% url 'home' %}">OK</a>
            </div>
        </div>
    </div>

        {% endblock %}
